<!DOCTYPE html>
<html>
  <head>
      <meta name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>HTML片断-健康易</title>
    <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css' />
      <link href="/stylesheets/pretty-bootstarp.css" rel="stylesheet">
  </head>
  <body>
    {{{body}}}
  </body>
</html>
<script src="/jquery/dist/jquery.min.js"></script>
<script src="//cdn.bootcss.com/prettify/r298/prettify.min.js"></script>
<script !src="">
    $(function(){
        prettyPrint();
    })
</script>
